<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>

        <!-- dynamic text with = <% %> -->
        <!-- if defining something then use this <% %> 
                var_name <%=  %> for var_name  -->


        <!-- variable name -->
        <% const name='mario' %>

            <!-- Including partials by - (dash symbol) after %  -->

            <%- include('./partials/nav.ejs') %>

                <div class="blogs content">
                    <h2>All Blogs</h2>

                    <!-- if block -->

                    <% if(blogs.length> 0) { %>
                        <% blogs.forEach(item=>{ %>

                            <!-- :id (dynamic variable) -->
                            <a class="single" href="/blogs/<%= item._id %>">
                                <h3 class="title">
                                    <%= item.title %>
                                </h3>

                                <p>
                                    <%= item.snippet %>
                                </p>
                            </a>

                            <%})%>

                                <%}else {%>
                                    <p>There is not blog.</p>
                                    <% } %>
                </div>


                <%- include('./partials/footer.ejs')%>
    </body>

</html>